{{ form_start(form) }}
    {{ form_row(form.auteur) }}
    {{ form_row(form.titre) }}
    {{ form_row(form.couverture) }}
    {{ form_row(form.resume) }}
    {{ form_row(form.categories) }}
    <button type="submit" class="btn btn-primary">Enregistrer</button>
{{ form_end(form) }}

